.homePage {
  width: 75%;
  height: 100%;
}

.toolbar {
  width: calc(100% - 2rem);
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
  border-left: 2px solid white;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  background-color: black;
}

.topHalf {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bottomHalf {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
